.about-user {
  display: flex;
  margin: 15px;
}

.user {
  margin-top: 50px;
  height: 200px;
}

.activity-card {
	margin-top: 30px;
	margin-bottom: 30px;
}

.subHero {
	background-position: 0% 25%;
	background-repeat: no-repeat;
	background-size: 100%;
}
